@use "./base.scss";

// put your custom CSS here!

//폴더 컨텐츠 날짜칸 넓이 확대
li.section-li {
  & > .section {
    grid-template-columns: 8em 3fr 1fr;
  }
}

//일반컨텐츠 페이지 아이콘 마진
.text-icon {
  margin-right: 5px;
}

//메뉴 폰트 사이즈 변경
#explorer-content {
  & ul {
    & li > a {
      font-size: .95rem;
    }
  }
}

//테이블 셀 최소 크기 변경
.table-container {
  & > table {
    th,
    td {
      min-width: 20px;
    }
  }
}