@use "./base.scss";

// put your custom CSS here!
li.section-li {
  & > .section {
    grid-template-columns: 8em 3fr 1fr;
  }
}

.text-icon {
  margin-right: 5px;
}

li:has(> .folder-outer:not(.open)) > .folder-container > svg {
  transform: rotate(-90deg);
}

#explorer-content {
  & ul {
    & li > a {
      font-size: .95rem;
    }
  }
}